.section5.container
  p See Other Useful <br>How-to Guides
  .col-xs-12
    p How to shrink photos
  .col-xs-12
    p How to make a Christmas slideshow
  .col-xs-12
    p How to make a slideshow
  .col-xs-12
    p And much more
