.section5.container
  .back
    p See Other Useful How-to Guides
    .col-sm-6
      .col-xs-12.col-sm-12
        p How to shrink photos
      .col-xs-12.col-sm-12
        p How to make a Christmas slideshow
    .col-sm-6
      .blue.col-xs-12.col-sm-12
        p How to make a slideshow
      .col-xs-12.col-sm-12
        p And much more
