.section5.container
  background-color: #eee
  width: 100%
  padding: 70px 17px 0px 17px
  p
    font-size: 28px
    text-align: center
    font-weight: bold
  .col-xs-12
    margin-bottom: 32px
    display: flex
    align-items: center
    height: 72px
    border: 2px dashed #bdbdbd
    border-radius: 6px
    &:nth-child(4)
      padding-left: 17px
      border: none
      border-radius: 6px
      background-color: #b4d1f2

    p
      font-size: 16px
      text-align: left
