.section5.container
  background-color: #eee
  width: 100%
  padding: 0px
  .back
    padding: 70px 0px 0px 0px
    p
      font-size: 28px
      padding: 0px 10px 0px 10px
      text-align: center
      font-weight: bold
    .col-xs-12
      p
        font-size: 16px
        text-align: left
        font-weight: 400
      margin-bottom: 32px
      display: flex
      align-items: center
      height: 72px
      border: 2px dashed #bdbdbd
      border-radius: 6px
    .blue
      border: 2px solid #b4d1f2
      background-color: #b4d1f2

      p
        font-size: 16px
        text-align: left
  @media screen and (min-width: 320px)
    .back
      padding: 70px 17px 0px 17px
  @media screen and (min-width: 768px)
    .back
      padding: 70px 24px 0px 24px
      .col-sm-6
        width: 344px
        padding: 0px
      .col-sm-6:nth-child(2)
        margin-right: 16px
      .col-sm-6:nth-child(3)
        margin-left: 16px
  @media screen and (min-width: 1140px)
    .back
      padding: 0px
      width: 943px
      margin: auto
      .col-sm-6
        padding: 0px
