.section3_3
  ol(start="4")
    li Save Your Clip
      img(src="img/screen_3.png")
      p Click the Export button and select the appropriate option from the tabs in the upper part of the pop-up window. You can save your slideshow to watch on your computer or mobile device, or prepare it for uploading to the web. When you’re done, click Start. Now you know how to use our handy photo-to-video maker with music, titles and transitions! 
    
