.section1.container
  .header
    div: p Making slideshows with music is easy!
    div: p Use Movavi Slideshows Maker!
    div: ul
      li Create slideshows with music, titles and effects
      li Sequence slides with transitions
      li Export video in popular formats
    div: p Download the program and follow the instructions below
    include ../assets/buttons/index.pug
