.section1.container
  margin: 0px
  width: 100%
  background: url('img/banner_header.png') no-repeat center center
  font-size: 25px
  padding: 65px 17px
  div:nth-child(2) p
    font-weight: bold
  div ul
    font-size: 15px
    padding-left: 17px
  div:nth-child(4)
    font-size: 20px
