.section3_2.container
  ul
    li.col-xs-6
      border-radius: 6px 0 0 0
      width: 48%
      display: block
      text-align: center
      font-size: 16px
      padding: 0px
      background-color: #f6f6f6
      &:first-child
        border-radius: 0 6px 0 0
        margin-right: 4%
      a
        padding: 10px 20px
        vertical-align: middle
        border: none
        font-size: 16px
        height: 65px
        color: #7b7b7b
  padding: 0px
  .tab-content
    padding: 0px 17px 0px 17px
    width: 100%
    background-color: #eee
  .nav-tabs
    border: none
  ol
    padding: 0px
    list-style-position: inside
    li
      font-size: 24px
      font-weight: bold
      img, p
        width: 100%
        font-size: 16px
        font-weight: 400
  .nav.nav-tabs>li.active>a
    color: black
    font-weight: bold
    background-color: #eee
    &:focus, &:hover
      background-color: #eee

  .swap_mode
    font-size: 16px
    display: flex
    justify-content: center
    align-items: center
    a
      padding-bottom: 20px
      img
        width: 30px
      span
        padding-left: 13px

  .tab
    ol:nth-child(2)
      counter-reset: item
  ol
    li:before
      counter-increment: item
      content: counters(item, ".") ". "
  @media screen and (min-width: 768px)
    .tab-content
      padding: 0px
    ol
      padding: 70px 44px
      .switch
        display: flex
        justify-content: center
        .images
          padding-top: 38px
          height: 50%
          width: 50%
          order: 2
        .text_p
          padding-top: 38px
          order: 1
          width: 50%
    .swap_mode
      padding-top: 52px
