.section3.container
  width: 100%
  padding-left: 70px 17px
  ol
    list-style-position: inside
    padding-left: 0px
    padding-bottom: 23px
    li
      font-size: 24px
      font-weight: bold
      p
        padding: 23px 0px 40px 0px
        margin-left: 0px
        font-size: 16px
        font-weight: 400
      img
        padding-top: 32px
        width: 100%
