.section6.container
  p Have Questions?
  .col-xs-12.col-sm-6.right
    .col-xs-5: img(src="img/live_chat.png")
    .col-xs-7: p Visit Our Support Center
  .col-xs-12.col-sm-6.left
    .col-xs-5: img(src="img/guide.png")
    .col-xs-7: p Watch Our Video Guides
