.section6.container
  p Have Questions?

  .right.col-xs-12.col-sm-6
    .col-xs-5: img(src="img/live_chat.png")
    .col-xs-7: p Visit Our Support Center
  .left.col-xs-12.col-sm-6
    .col-xs-5: img(src="img/guide.png")
    .col-xs-7: p Watch Our Video Guides
