.section2.container
  div: p How to Make Videos with Pictures and Music
  div: p Did you have a great vacation this summer? Give yourself a positive emotional boost for the winter by creating an evocative slideshow with music and titles or a photo collage from your holiday photos! With Movavi Slideshow Maker, you can turn your photos into a movie in just a couple of minutes even if you have no experience in video montage. Interested? Let’s get started!
  .center
    include ../assets/buttons/index.pug
