.section4.container
  .col-xs-12
    p Movavi Slideshow Maker
  .col-xs-12
    img(src="img/box_slideshow_win_mac.png")
  
  p An easy-to-use, yet efficient slideshow making program
  ul
    li
      span  Create a slideshow with music in 3 simple steps
    li
      span  Join slides with dynamic transitions
    li
      span  Add stylish animated titles
    li
      span  Adjust color, enhance picture quality
  .button-window
    img(src="/img/windows_logo.png")
    span  Buy Now
  a More about the Windows version »
  .button-iphone
    img(src="/img/mac_ logo.png")
    span  Buy Now
  a More about the Mac version »
