.section4.container
  .col-xs-12
    p Movavi Slideshow Maker
  .col-xs-12
    img(src="img/box_slideshow_win_mac.png")
  
  p An easy-to-use, yet efficient slideshow making program
  .making
    .row
      .col-xs-2: img(src="img/icon_1_pictures.png")
      .kek.col-xs-9: span Create a slideshow with music in 3 simple steps
    .row
      .col-xs-2: img(src="img/icon_2_film.png")
      .col-xs-9: span Join slides with dynamic transitions
    .row
      .lol.col-xs-2: img(src="img/icon_text.png")
      .col-xs-9: span Add stylish animated titles
    .row
      .col-xs-2: img(src="img/icon_4_diamond-outlined-shape.png")
      .col-xs-9: span Adjust color, enhance picture quality
  .button-window
    img(src="/img/windows_logo.png")
    span  Buy Now
    .col-xs-12: a More about the Windows version »
  .button-iphone
    img(src="/img/mac_ logo.png")
    span  Buy Now
    .col-xs-12: a More about the Mac version »
