.section4.container
  .bkac
    .instruction
      .box_logo.col-sm-5
        img(src="img/box_slideshow_win_mac.png")
      .goods_name.col-sm-7
        p Movavi Slideshow Maker
      
      .making.col-sm-7
        .row: p An easy-to-use, yet efficient slideshow making program!
          .row
            .col-xs-2.col-sm-1: img(src="img/icon_1_pictures.png")
            .kek.col-xs-10: span Create a slideshow with music in 3 simple steps
          .row
            .col-xs-2.col-sm-1: img(src="img/icon_2_film.png")
            .col-xs-10: span Join slides with dynamic transitions
          .row
            .lol.col-xs-2.col-sm-1: img(src="img/icon_text.png")
            .col-xs-10: span Add stylish animated titles
          .row
            .col-xs-2.col-sm-1: img(src="img/icon_4_diamond-outlined-shape.png")
            .col-xs-10: span Adjust color, enhance picture quality
      .col-md-4
        
      .col-sm-12.col-md-7
        .col-sm-12
          .button-window.col-sm-5
            img(src="/img/windows_logo.png")
            span  Buy Now
            .col-xs-12: a More about the Windows version »
          .button-iphone.col-sm-5
            img(src="/img/mac_ logo.png")
            span  Buy Now
            .col-xs-12: a More about the Mac version »
