.section4.container
  .col-xs-12
    padding: 20px 0px 0px 0px

  @import .././assets/buttons/style.sass
  padding: 70px 17px
  background: url("img/bg-color_4.png")
  width: 100%
  p:first-child
    font-size: 28px
    font-weight: bold
  ul, p
    padding-left: 0px
    font-weight: 400
    font-size: 16px
  .row
    margin: 0px
    .col-xs-2
      padding: 0px
    p
      font-size: 16px
      text-align: left
      font-weight: 400
    .col-xs-9
      font-size: 16px
      vertical-align: middle
    .kek
      position: relative
      padding-top: 5px
    padding: 12px 0px
    *
      vertical-align: middle
    .lol
      img
        position: relative
        padding-left: 5px
  .box_logo
    img
      margin-top: 45px
      width: 207px
      height: 277px
  a
    color: #3581d5
    font-size: 14px
    text-align: center
  @media screen and (min-width: 320px)
    .col-xs-12
      padding: 0px
    .instruction
      display: table
    .making
      display: table-row-group
    .goods_name.col-sm-8
      display: table-header-group
      p
        text-align: center
    .box_logo
      display: flex
      justify-content: center
      img
        text-align: center
        width: 161px
        height: 214px
        margin-bottom: 50px

  @media screen and (min-width: 768px)
    he
    .col-xs-12
      font-size: 16px
      padding-top: 15px
    .goods_name.col-sm-8 p
      text-align: left
  @media screen and (min-width: 1140px)
    width: 1140px
