doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(rel='stylesheet', href='node_modules/normalize.css/normalize.css')
    link(rel='stylesheet', href='node_modules/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='style.css')
    title Test task
  body
    include ./section1/index.pug
    include ./section2/index.pug
    include ./section3/index.pug
    include ./section3_2/index.pug
    include ./section3_3/index.pug
    include ./section4/index.pug
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='node_modules/bootstrap/dist/js/bootstrap.min.js', charset='utf-8')
